body {
    background-color: gainsboro;
    margin: 0px;
    padding: 0px;
    font-family: 'Arimo', sans-serif;
  }
  
  header {
    background: linear-gradient(to bottom right, #ff2720, #ff8f27);
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  

  nav {
    display: flex;
    justify-content: space-between;

  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }

  .menu {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .menu li {
    margin-right: 25px;
  }
  
  .menu li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  
  .cart {
    display: flex;
    align-items: center;
    width: 190px;
  }
  
  .cart-icon {
    width: 20px;
    height: 20px;
    background-color: #FF4500;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .cart-text {
    font-weight: bold;
  }
  
  .container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background: linear-gradient(to bottom right, #ffcd2b, #ff7b00);
    box-shadow: 0 2px 5px rgba(255, 60, 0, 0.3);
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .moving-image {
    width: 200px;
    height: 200px;
    border: 2px solid #FF4500;
    border-radius: 50%;
    animation: moveImage 2s linear infinite alternate;
  }
  
  @keyframes moveImage {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100px);
    }
  }
  